---
import '~/styles/header.css';

const contactSections = [
  {
    role: 'Chief Technology Officer',
    contacts: [
      { site: 'tequity.app', email: 'pouya@tequity.app' },
      { site: 'kenniss.com', email: 'pouya@kenniss.com' },
    ],
  },
  {
    role: 'Chief Data & AI Officer',
    contacts: [
      { site: 'cervais.com', email: 'pouya@cervais.com' },
      { site: 'bookerdimaio.com', email: 'pouya.byousefi@bookerdimaio.com' },
      { site: 'pouyadata.com', email: 'pouyadatallc@gmail.com' },
      {
        site: 'humanrightsconnected.org',
        email: 'pouya@humanrightsconnected.org',
      },
    ],
  },
];
---

<header class="header">
  <div class="header-content">
    <div class="header-info">
      <h1>Pouya Barrach-Yousefi</h1>
      <div class="title">Technology Executive</div>
      <div class="tagline">
        Transforming Organizations Through Data Science, Machine Learning, and
        Generative AI Innovation
      </div>
    </div>
    <div class="contact-grid">
      {
        contactSections.map((section) => (
          <div class="contact-info">
            <div class="role-title">{section.role}</div>
            <ul class="contact-list">
              {section.contacts.map((contact) => (
                <li class="contact-line">
                  🌐 <a href={`https://${contact.site}`}>{contact.site}</a>
                  📧 <a href={`mailto:${contact.email}`}>{contact.email}</a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</header>
